@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css); 

:root {
    --menu-width: 47.5em; /* Width of menu */
    --items: 4; /* Number of items you have */
    --item-width: calc(var(--menu-width) / var(--items));
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #18191f;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
.wrap {
  /*Ajuste a largura e altura desejadas aqui*/
  width: 100%;
  height: 100%;

  /*isto fará o elemento video e o .container se adaptarem ao .wrap*/
  position: absolute;
}
.wrap > .bg-video {
  position: relative;
  top: 0;
  left: 0;
  z-index: -100000; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
  width: 100%;
  height: 100%;
  overflow: hidden; /* evita do video passar a altura desejada do .wrap */
}
.wrap > .bg-video > video {
  width: 100%;
}
.bg_video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 1920px;
    min-height: 1080px;
    width: 1920px;
    height: 1080px;
    z-index: -10000;
    background-size: cover;
}
nav {
    width: var(--menu-width);
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    perspective: 2000px;
    flex-wrap: wrap;
    top: 3em;
}

nav .menu-item {
    color: white;
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 1;
    display: contents;
    flex-basis: var(--item-width);
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 0.5px;
    min-height: 1.5em;
}

nav .menu-text, nav .menu-text a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: color 0.1s ease-out;
    text-align: center;
}

#img_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.fasicon {
  width: 220px;
  height: 60px;
  font-size: 36px;
  color: #ffffff;
  margin-left: 1456px;
  margin-top: -61px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  background-image: linear-gradient(to right, #fc9b09 , #f8fc09);
  cursor: pointer;
  font-size: 24px;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 1523px;
  margin-top: -61px;
  box-shadow: 0 6px 30px -10px #f8fc09cb;
}
.btn:hover {
  transform: translateX(-5px) translateY(-7px);
}

.shop-now {
  position: relative;
}
.shop-now .santa-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -17px;
  right: -20px;
  transform: rotate(14deg);
}
.shop-now .santa-icon img {
  width: 100%;
  height: 100%;
}

.snowflake-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  gap: 5px;
  width: 100px;
  transform: scale(0.4);
}
.snowflake-grid div {
  border-radius: 5px;
}
.snowflake-grid .snowflake-item {
  position: relative;
}

.to-left {
  position: absolute;
  top: -4px;
  left: -35px;
  animation: swing 3s infinite;
}
.to-left div {
  animation: flash 3s infinite;
}

.to-right {
  position: absolute;
  top: -25px;
  right: -35px;
  animation: swing 2.5s infinite;
}
.to-right div {
  animation: flash 2.5s infinite;
}

.border-left {
  border-left: 4px solid #fc9b09;
}

.border-right {

  border-right: 4px solid #fc9b09;
}

.border-bottom {
  border-bottom: 4px solid #fc9b09;
}

.border-top {
  border-top: 4px solid #fc9b09;
}

.sub-items {
  height: 28px;
  width: 28px;
}

.m-w-15 {
  width: 15px;
}

.m-h-15 {
  height: 15px;
}

.r-270 {
  transform: rotate(270deg);
}

.r-180 {
  transform: rotate(180deg);
}

.r-90 {
  transform: rotate(90deg);
}

.pull-down {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.pull-down-right {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.pull-right {
  position: absolute;
  right: 5px;
  top: 5px;
}

.pull-left {
  position: absolute;
  left: 5px;
  top: 5px;
}

.m-3 {
  margin: 3px;
}

@keyframes swing {
  50% {
    transform: rotateZ(10deg) scale(0.4);
  }
}
@keyframes flash {
  50% {
    border-color: #f8fc09;
  }
}
.wrapper {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
}

#wrapper {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
}
#wrapper #share {
  position: relative;
  margin: 0 auto;
  padding-top: 380px;
  width: 308px;
}

.container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}
.container .circle {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5px;
  stroke-dasharray: 40;
  transition: all 0.2s ease-in-out;
  -webkit-animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
          animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}
.container .social {
  color: white;
  font-size: 1.8em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.container:hover {
  cursor: pointer;
}
.tiktok:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTikTok 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTikTok 1s linear forwards;
}
.tiktok:hover .social {
  color: #000000;
}
.discord:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorDiscord 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorDiscord 1s linear forwards;
}
.discord:hover .social {
  color: #7289da;
}
.instagram:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorInstagram 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorInstagram 1s linear forwards;
}
.instagram:hover .social {
  color: #cb2092;
}
@-webkit-keyframes colorTikTok {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #000000;
  }
}
@keyframes colorTikTok {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #000000;
  }
}
@-webkit-keyframes colorDiscord {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #7289da;
  }
}
@keyframes colorDiscord {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #7289da;
  }
}
@-webkit-keyframes colorInstagram {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #cb2092;
  }
}
@keyframes colorInstagram {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #cb2092;
  }
}
@-webkit-keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
}
@keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
}
@-webkit-keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
  }
}
@keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
  }
}
